@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #2E3440;
  color: #ECEFF4;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: bold;
}


img {
  border-radius: 6.25%;
}

a:link {
  color: #ECEFF4;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ECEFF4;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ECEFF4;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ECEFF4;
  background-color: transparent;
  text-decoration: underline;
}

.topnav {
  background-color: #262b35;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
