@font-face {
  font-family: AdwaitaSans;
  src: url(/fonts/AdwaitaSans-Regular.ttf);
}

@font-face {
  font-family: AdwaitaMono;
  src: url(/fonts/AdwaitaMono-Regular.ttf);
}

body {
  background-size: cover;
  background-position: 0px 0px;
  background-image: url(/images/background.webp);
  height: 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ECEFF4;
  font-family: AdwaitaSans;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #c1c1ff;
  text-decoration: none;
}

a:visited {
  color: #acacff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

img {
  border-radius: 6.25%;
}

button {
  background-color: #14171d;
  color: #ECEFF4;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pfp-name {
  font-family: AdwaitaMono;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.topnav {
  background-color: #0808085e;
  overflow: hidden;
  border-radius: 6.25px;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: AdwaitaMono;
  font-weight: 100;
}

.topnav a:hover {
  background-color: #0f0f0f5e;
}

.main {
  background-color: #0808085e;
  overflow: hidden;
  border-radius: 6.25px;
}