@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: AdwaitaSans;
  src: url(/fonts/AdwaitaSans-Regular.ttf);
}

body {
  background-size: cover;
  background-position: 0px 0px;
  background-image: linear-gradient(-30deg, rgb(3, 5, 31) 3%, #000000FF 70%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ECEFF4;
  font-family: AdwaitaSans;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

img {
  border-radius: 6.25%;
}

button {
  background-color: #14171d;
  color: #ECEFF4;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pfp-name {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.topnav {
  background-color: #111;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #20202020 /* vision */
}



