@font-face {
  font-family: AdwaitaSans;
  src: url(/fonts/AdwaitaSans-Regular.ttf);
}

@font-face {
  font-family: AdwaitaMono;
  src: url(/fonts/AdwaitaMono-Regular.ttf);
}

@font-face {
  font-family: GoogleSans;
  src: url(/fonts/GoogleSansRounded-Medium.ttf)
}

@font-face {
  font-family: GoogleSans-Bold;
  src: url(/fonts/GoogleSansRounded-Bold.ttf)
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: 0px 0px;
  background-image: url(/images/background.jpg);
  height: 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ECEFF4;
  font-family: GoogleSans;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #c1c1ff;
  text-decoration: none;
  padding: 2px;
}

a:visited {
  color: #acacff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
}

img {
  border-radius: 6.25%;
}

button {
  background-color: #14171d;
  color: #ECEFF4;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pfp-name {
  font-family: GoogleSans-Bold;
  font-optical-sizing: auto;
  font-weight: 1600;
  font-style: bold;
}

.topnav {
  background-color: #0808085e;
  overflow: hidden;
  border-radius: 6.25px;
  padding: 4px;
  backdrop-filter: blur(16px);
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 6px;
  text-decoration: none;
  font-size: 15px;
  font-family: GoogleSans-Bold;
  font-weight: 100;
  transition: background-color 0.3s ease;
}

.topnav a:hover {
  background-color: #0700635e;
}

.main {
  background-color: #0808085e;
  overflow: hidden;
  border-radius: 6.25px;
  backdrop-filter: blur(16px);
}